.plan {

    padding-top: 210px;
    padding-bottom: 220px;
        background-color: #F5F8FF;
        &__inner {
            @media screen and (max-width: 1220px) {
                margin: o auto;
            }
        }


    &__subtitle {
        @include text (10px, 500, 12px, $secondaryColor);
        font-family: 'Roboto';
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-bottom: 27px;
    }

    &__title {
        @include text (36px, 500, 45px, $secondaryColor);
        font-family: 'Quicksand';
        margin-bottom: 27px
    }

    &__span {
        @include text (36px, 400, 45px, $secondaryColor);
        font-family: 'Quicksand';
    }

    &__text {
        max-width: 413px;
        @include text (15px, 400, 29px, $textColor);
        letter-spacing: 0.03em;
        font-family: 'Roboto';
        margin-bottom: 55px;
    }

    &__btn {
        width: 130px;
        height: 43px;
        font-size: 13px;
        line-height: 16px;
        font-family: 'Quicksand';
        border-radius: 2px;
        &--blue {
            font-weight: 700;
        }
        &--light {
            font-weight: 500;
            color: #ADB4D2;
            border: 1px solid #AEAEBF;
        }
    }

    &__shell {
        position: relative;
    }

    &__img {
        position: absolute;
        top: -214px;
        left: 18px;
        @media screen and (max-width: 1380px) {
            display: none;
        }
    }

}