
    .footer {
        &__container {
            padding-top: 80px;
            padding-bottom: 20px;
            // padding-left: 0px;
            padding-right: 0px;
            max-width: 1200px !important;
            // .navbar {
            //     padding: 0px;
            // }
        }

        &__a {
            margin-right: 0px;
        }

        &__logo {
            width: 26px;
            height: 26px;
            background: #5E81FE;
            border-radius: 50%;
        }
        &__btn {
            @include text (13px, 700, 16px, $accentColor);
            font-family: 'Quicksand';
            background-color: #D2E1FF;
            border-radius: 2px;
            width: 113px;
            height: 43px;
            text-align: center;
            outline: none;
            margin-left: 42px;
            @media screen and (max-width: 427px) {
                margin-left: 0;
                margin-top: 25px;
            }
        }

        &__social {
                gap: 35px;
        }

        &__icon {
            fill: #B6BAC7;
        }
        
        &__icon:hover {
            fill: $accentColor;
        }

        &__copyright {
            @include text (12px, 500, 15px, #AEB8D0);
            font-family: 'Quicksand';
            margin-top: 28px;
            padding-left: 93px;
            @media screen and (max-width: 985px) {
                padding-left: 0;
            }
        }

        &__menu {
            @media screen and (max-width: 992px) {
                align-items: center;
                justify-content: center;
                margin-left: 0;
                flex-direction: column;
                margin-bottom: 40px;
            }
        }

        &__link {
            @media screen and (max-width: 992px) {
                font-size: 16px;
                margin-bottom: 10px;
                padding-right: 0;
            }
        }


        &__right-block {
            @media screen and (max-width: 427px) {
                flex-wrap: wrap;
                flex-direction:column;
            }
        }

        &__navbar {
            @media screen and (max-width: 985px) {
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center !important;
                align-items: center !important;
            }
        }

        &__bottom {
            @media screen and (max-width: 985px) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

    }
